jaxb/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://mycompany.com/hr/schemas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sch="http://mycompany.com/hr/schemas">
    <xs:element name="HolidayRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="sch:Holiday" name="Holiday"/>
                <xs:element type="sch:Employee" name="Employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Holiday">
        <xs:sequence>
            <xs:element type="xs:date" name="StartDate"/>
            <xs:element type="xs:date" name="EndDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element type="xs:string" name="Number"/>
            <xs:element type="xs:string" name="FirstName"/>
            <xs:element type="xs:string" name="LastName"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>